@{
    ViewBag.Title = "About";
}
<h2>Syrian Pound Exchange Rate</h2>

<h4>Rates:</h4>
<p>Provides the latest exchange rates of U.S Dollar and Euro in Syrian Pound. The app will automatically request the latest updated rates on start.
    <br/>The App can be updated manually by touching the refresh button on the top right. Once the rates are acquired, the App will function offline.
</p>
<h4>Calcuator:</h4>
<p>
The app also provide a calculator functionality, the calculator uses the rates in the app to perform currency conversion.<br/>The users can select from eight different conversion functions.
    <br/><strong>Buying/Selling:</strong> (Calculation performed based on the rates in the Rates Page) 
    <ul>
        <li>Convert from U.S Dollar to Syrian Pound.</li>
        <li>Convert from Euro to Syrian Pound.</li>
        <li>Convert from Syrian Pound to U.S Dollar.</li>
        <li>Convert from Syrian Pound to Euro.</li>
    </ul>
</p>

<p>The app also supports Arabic language.</p>
