@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
   For issues or questions please send us an email. 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:moe.asaad@gmail.com">moe.asaad@gmail.com</a><br />   
</address>